%{ nbPages = _caller.count.page(controllers.CRUD.getPageSize()) }%

#{if nbPages > 1}
    <div class="row">
        <div class="span3" style="margin-top: 10px;">
#{/if}
        <span class="label">
            &{'crud.list.size', _caller.count, typeDisplayName ?: _caller.type.name}

        </span>
#{if nbPages > 1}
        </div>
        <div class="span6">
            <div style="margin-top: 0px;">
                <ul class="pagination">
                %{
                    limit = (_limit != null ? _limit : 10)
                    start = _caller.page - (int)(limit/2) + (limit % 2 ? 0 : 1)
                    end = _caller.page + (int)(limit/2)

                    if(start < 1){
                    extra = 1 - start
                    end = (end + extra < nbPages ? end + extra : nbPages)
                    start = 1
                    }else if(end > nbPages){
                    extra = end - nbPages
                    start = (start - extra > 1 ? start - extra : 1)
                    end = nbPages
                    }
                    }%
                    #{if _caller.page > 1}
                        <li>
                            #{a @list().add('page', _caller.page-1).add('search', _caller.params.search).add('orderBy', _caller.orderBy).add('order', _caller.order)}&{'crud.pagination.previous'}#{/a}
                        </li>
                    #{/if}
                    #{else }
                        <li class="disabled">
                            <a>&{'crud.pagination.previous'}</a>
                        </li>
                    #{/else}

                    <li #{if _caller.page == 1}class="active"#{/if}>
                        #{a @list().add('page', 1).add('search', _caller.params.search).add('orderBy', _caller.orderBy).add('order', _caller.order)}#{if nbPages>9}&nbsp;#{/if}1#{/a}
                    </li>

                %{
                    if(nbPages > 3) {
                    for (i in (start+1)..(end-1)) { }%
                    #{if nbPages > 9 && i==start+1 && _caller.page > 4}
                        <li class="disabled">
                            <a>...</a>
                        </li>
                    #{/if}
                    #{elseif nbPages > 9 && i==end-1 && _caller.page < nbPages -4}
                        <li class="disabled">
                            <a>...</a>
                        </li>
                    #{/elseif}
                    #{else }
                        <li #{if _caller.page == i}class="active"#{/if}  style="width: 25px">
                            #{a @list().add('page', i).add('search', _caller.params.search).add('orderBy', _caller.orderBy).add('order', _caller.order)}#{if nbPages>9 && i<10}&nbsp;#{/if}${i}#{/a}
                        </li>
                    #{/else}

                %{      }
                    }}%

                    <li #{if _caller.page == nbPages}class="active"#{/if}>
                        #{a @list().add('page', nbPages).add('search', _caller.params.search).add('orderBy', _caller.orderBy).add('order', _caller.order)}${nbPages}#{/a}
                    </li>

                    #{if _caller.page < nbPages}
                        <li>
                            #{a @list().add('page', _caller.page+1).add('search', _caller.params.search).add('orderBy', _caller.orderBy).add('order', _caller.order)}&{'crud.pagination.next'}#{/a}
                        </li>
                    #{/if}
                    #{else}
                        <li class="disabled">
                            <a>&{'crud.pagination.next'}</a>
                        </li>
                    #{/else}


                </ul>
            </div>

        </div>
    </div>

#{/if}
