<!DOCTYPE html>

<html lang="${lang}">
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    #{get 'moreStyles' /}
    #{get 'moreScripts' /}

    <link rel="shortcut icon" type="/public/images/png"
          href="@{'/public/images/favicon.png'}" />

    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/bootstrap/css/bootstrap.min.css'}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/bootstrap/css/bootstrap-glyphicons.css'}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/datepicker/css/datepicker.css'}"/>


    <!-- these javascript files need to be decalred in the head of the page -->
    <script type="text/javascript" src="@{'/public/javascripts/jquery-1.9.1.min.js'}"></script>
    <script type="text/javascript" src="@{'/public/datepicker/js/bootstrap-datepicker.js'}"></script>
    <script type="text/javascript" src="@{'/public/datepicker/locales/bootstrap-datepicker.fr.js'}"></script>

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>


</head>
<body>

#{include 'crudtb/navbar.html'/}

<div class="container">

    <div id="crud">
        <div class="row">
            <div class="col-lg-3">
                #{include 'crudtb/menu.html'/}
            </div>
            <div class="col-lg-9">
                #{doLayout /}
            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Company 2013</p>
    </footer>

</div>

<script type="text/javascript" src="@{'/public/bootstrap/js/bootstrap.min.js'}"></script>

</body>

</html>




