<!DOCTYPE html>

<html lang="${lang}">
<head>
    <meta charset="${_response_encoding}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>#{get 'title' /}</title>

    #{get 'moreStyles' /}
    #{get 'moreScripts' /}

    <link rel="shortcut icon" type="/public/images/png"
          href="@{'/public/images/favicon.png'}" />

    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/bootstrap/css/bootstrap.min.css'}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/doc.css'}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crudtb.css'}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/datepicker/css/datepicker.css'}"/>

    <!-- these javascript files need to be decalred in the head of the page -->
    <script type="text/javascript" src="@{'/public/javascripts/jquery-1.9.1.min.js'}"></script>
    <script type="text/javascript" src="@{'/public/datepicker/js/bootstrap-datepicker.js'}"></script>
    <script type="text/javascript" src="@{'/public/datepicker/locales/bootstrap-datepicker.fr.js'}"></script>


</head>
<body>

#{include 'crudtb/navbar.html'/}
#{include 'crudtb/header.html'/}
#{include 'crudtb/alert.html'/}


<div class="container">
    <div class="row">
        <div class="col-md-3">
            #{include 'crudtb/menu.html'/}
        </div>
        <div class="col-md-9" role="main">
            #{doLayout /}
        </div>
    </div>
</div>

#{include 'crudtb/footer.html'/}

<script type="text/javascript" src="@{'/public/bootstrap/js/bootstrap.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/application.js'}"></script>

</body>

</html>




